@model IEnumerable<SysAdmDip4.Models.System.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h1>Index</h1>
@if (ViewData["Danger"] != null)
{
    <p class="alert-danger">
        @ViewData["Danger"]
    </p>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Role_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role_Describe)
            </th>
            <th>
                Role_FunctionIdCount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Role_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role_Describe)
                </td>
                <td>
                    * @item.Role_FunctionIdCount
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Role_Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Role_Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Role_Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
